test.ps1
HelperNotes.txt
HostMigrationStatus.xlsx
HostTest.csv
hostids.txt
DSCC-Powershell.code-workspace
logs/HostMigration_20230620.log
logs/HostMigration_20230621.log
logs/HostMigration_20230622.log
logs/HostMigration_20230623.log
